# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 Samson <https://github.com/samson1357924>
# Udev rule for HP Chromebook 13 G1 (chell) keyboard backlight
# Exposes /sys/class/leds/chromeos::kbd_backlight to logged-in users via uaccess
# Driver: cros_kbd_led_backlight (cros_ec_lpcs) -> leds_cros_ec
# GNOME SettingsDaemon.Power.Keyboard (StepUp/StepDown/Toggle) uses this node;
# systemd-backlight@leds:chromeos::kbd_backlight.service persists brightness.
# MODE 0660 (rw-rw----) via plugdev + TAG uaccess for seat user; world-readable
# not required (brightness value not sensitive). Install via ec/install-ec.sh.
SUBSYSTEM=="leds", KERNEL=="chromeos::kbd_backlight", TAG+="uaccess", TAG+="seat"
SUBSYSTEM=="leds", KERNEL=="chromeos::kbd_backlight", GROUP="plugdev", MODE="0660"
